<div class="container" align="center">

	<h2>SignUp Form</h2>

	<br>

	<form class=" form-group form-inline" action="/SignUp" method="post"> 

		<label class="control-lable form-control">FullName</label>
		<input class="form-control" type="text" name="fullname" placeholder="FullName">
		
		<br>

		<br>

		<label class="control-lable form-control">UserName</label>
		<input class="form-control" type="text" name="username" placeholder="UserName">

		<br>

		<br>

		<label class="control-lable form-control" >Password</label>
		<input class="form-control" type="password" name="password" placeholder="Password">
		<br>

		<br>

		<label class="control-lable form-control" >Address</label>
		<textarea class="form-control" name="address" placeholder="Address"></textarea>

		<br>

		<br>

		<label class="control-lable form-control">Gender</label>
		<input type="radio" name="gender" value="male" class="form-control">Male
		<input type="radio" name="gender" value="female" class="form-control form-group">Female

		<br>
		<br>

		<label class="form-control control-lable">City</label>
		<select class="form-control" name="city">
			<option>Select</option>
			<option>Indore</option>
			<option>Bhopal</option>
			<option>Mumbai</option>
		</select>

		<br>
		<br>


		<button class="btn btn-success" type="submit" value="Submit">Submit</button>

	</form>
</div>