
<h2 align="center">Login page</h2>

<div class="container" align="center">

	
	<form class="form-group form-controll" action="/login" method="post">
		<div class="form-controll form-group" >

		<label class="controll-lable">Username</label>
		<input class="form-controll" type="text" name="username">

		</div>

		<div class="form-controll">

		<label class="controll-lable">Password</label>
		<input class="form-controll" type="password" name="password">



		</div>

		<br>

		<button class="btn btn-primary form-controll form-group" type="submit" value="submit">LOGIN</button>

		<%=msg%>


	</form>

</div>